<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="row w-100 justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="w-100 border border-secondary-mecanica border-opacity-50 p-4 rounded-3 bg-body"
      >
        <div class="head">
          <h3 class="fw-semibold">Entrar</h3>
          <p class="text-muted">Entre com sua conta para continuar</p>
        </div>

        @if (errorMessage) {
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
        }

        <div class="mb-3 mt-5">
          <label for="email" class="form-label fw-semibold">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            [class.is-invalid]="isInvalid('email')"
          />
          @if (isInvalid('email')) {
          <div class="invalid-feedback">
            <span> Digite um email válido. </span>
          </div>
          }
        </div>

        <div class="mb-3">
          <label for="senha" class="form-label fw-semibold">Senha</label>
          <input
            type="password"
            class="form-control"
            formControlName="senha"
            id="senha"
            [class.is-invalid]="isInvalid('senha')"
          />
          @if (isInvalid('senha')) {
          <div class="invalid-feedback">
            <span> Digite uma senha de no mínimo 3 caracteres </span>
          </div>
          }
        </div>

        <button 
          type="submit" 
          class="btn btn-primary-mecanica w-100"
          [disabled]="loading"
        >
          @if (loading) {
            <span class="spinner-border spinner-border-sm me-2"></span>
          }
          ENTRAR
        </button>

        <hr class="border border-primary-mecanica opacity-100 border-1 mt-4" />
        
        <p class="text-center text-muted">OU CONTINUE COM</p>
        
        <button 
          type="button" 
          class="btn btn-outline-primary-mecanica w-100"
          (click)="loginWithGoogle()"
        >
          <i class="bi bi-google"></i> Google
        </button>
      </form>
    </div>
  </div>
</div>