@for (mecanico of mecanicos; track $index) {

<div class="row border border-body rounded-4 p-3 rounded-2 mt-4">
  <div class="card-header col-12 d-flex justify-content-between align-items-center flex-wrap mb-2">
    <div class="start">
      <div class="top-header">
        <i class="bi bi-people-fill"></i>
        {{ mecanico.nome }}
      </div>

      <div class="bottom-header">
        <p class="text-muted m-0">{{ mecanico.especialidade }}</p>
      </div>
    </div>

    <div class="end mt-2 mt-md-0">
      <span class="badge bg-secondary"> {{ mecanico.agendamentos.length }} agendamentos </span>
    </div>
  </div>

  @for (agenda of mecanico.agendamentos; track $index) {

  <div class="card-body border border-primary-mecanica p-3 rounded-2 mt-3 col-12">
    <div class="row align-items-center">
      <div class="col-3 col-sm-2 col-md-1 mb-3 mb-md-0">
        <div class="hora bg-primary-mecanica rounded-3 text-white text-center py-3">
          {{ agenda.hora }}
        </div>
      </div>

      <div class="col-9 col-sm-10 col-md-11">
        <span class="pe-2 text-primary-mecanica-emphasis fw-semibold">
          {{ agenda.os }}
        </span>

        <span class="badge bg-info-subtle text-info-emphasis"> Em andamento </span>

        <div class="col-12 mt-1">{{ agenda.cliente }}</div>

        <div class="col-12 text-muted">{{ agenda.dataCadastro }} — {{ agenda.mecanico }}</div>
      </div>
    </div>
  </div>

  }
</div>

}
